.button1 {
  position: relative;
  padding: 5px 20px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  font-family: "Roboto", sans-serif;
  background-color: white;
  transition: background-color 0.1s;

  outline: none;
}

.button1:hover {
  background-color: #f0f0f0;
}

.button1:focus {
  outline: none;
}

.button1::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 3px;
  background-color: rgba(108, 201, 153, 0.5);
  transition: background-color 0.3s;
  pointer-events: none;
}

.button1:active::before {
  background-color: rgba(108, 201, 153, 0.3);
}
