/* components/LeftNav.css */
.leftnav {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(224, 224, 224);
  border-right: 2px solid rgb(216, 216, 216);
  width: 80px;
  height: 100vh;
}

.leftnav:first-child {
  padding-top: 150px;
}

#logout {
  margin-top: auto;
  margin-bottom: 30px;
}

.icos {
  background-color: transparent;
  border: 0px solid transparent;
  margin-bottom: 30px;
  cursor: pointer;
}
