.leftnav {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f0f0f0;
  border-right: 2px solid #ececec;
  width: 80px;
  height: 100vh;
  min-width: 80px;
  max-width: 80px;
  margin-right: 40px;
}

.leftnav:first-child {
  padding-top: 57px;
}

#logout {
  margin-top: auto;
  margin-bottom: 30px;
}

.icos {
  background-color: transparent;
  border: 0px solid transparent;
  margin-bottom: 30px;
  cursor: pointer;
}
