nav {
  display: flex;
}

.right {
  display: flex;
  flex-direction: column;
  background-color: white;
  width: 100vw;
}

img {
  width: 30px;
  height: auto;
}

form {
  display: flex;
  gap: 1rem;
}

.items {
  display: flex;
  gap: 1rem;
}

.selector {
  padding: 0.3rem;
  background-color: white;
  border: solid rgb(212, 212, 212) 2px;
  border-radius: 5px;
}
